fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
python-multipart

# RAG
langchain
langchain-text-splitters
langchain-ollama
langchain-qdrant
qdrant-client
pypdf
python-docx

langgraph
sqlalchemy
psycopg2-binary

# tests
pytest
